@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #0F0F0F;
  --bg-secondary: #18181B;
  --bg-tertiary: #27272A;
  
  --text-primary: #FAFAFA;
  --text-secondary: #A1A1AA;
  
  --accent-amber: #F59E0B;
  --accent-blue: #3B82F6;
  --accent-purple: #A855F7;
  --accent-green: #10B981;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-primary);
  background: var(--bg-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
